.me {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 3px 1px 0 rgba(0, 0, 0, .04), 0 1px 0 0 #e2e2e2;
  margin-top: 15px;
  padding: 0 30px 0;
}

.title {
  color: rgba(white, 0.95);
  font: 400 20px Roboto;
  padding-top: 30px;
}

.body {
  color: rgba(white, 0.95);
  font: 300 16px Roboto;
  margin-top: 15px;
}

.finalThoughts {
  color: white;
  font: 500 20px Roboto;
  padding-top: 30px;
  text-align: center;
}
