.header {
  background-color: #283593;
  height: 64px;
}

.title {
  align-items: center;
  color: white;
  cursor: pointer;
  display: flex;
  font: 700 18px Montserrat;
  height: 100%;
  padding-left: 30px;
  text-transform: uppercase;
}