.header {
  background-color: #505b6c;
  display: flex;
  height: 64px;
  justify-content: center;
  min-height: 64px;
  min-width: 100%;
  position: relative;

  .headerItems {
    align-items: center;
    display: flex;
    max-width: 1286px;
    padding: 0 15px;
    width: 100%;
  }

  .profile {
    border-radius: 50px;
    margin-left: auto;
    width: 50px;
    height: 50px;
  }

  .title {
    align-items: center;
    color: white;
    cursor: pointer;
    display: flex;
    font: 900 19px Roboto;
    height: 100%;
    text-transform: uppercase;
  }

  .test {
    color: white;
    font: 700 16px Roboto;
    margin-left: 15px;
  }
}

.padding {
  background-color: #505b6c;
  bottom: -40px;
  height: 40px;
  position: absolute;
  width: 100%;
  z-index: 0;
}
