@import 'sanitize.css/sanitize.css';

* {
    color: #3c4350;
    font-family: Roboto;
}

.app {
    align-items: center;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.main {
    display: flex;
    height: calc(100% - 64px);
    position: relative;
    width: 100%;
    z-index: 1;
}

.content {
    display: flex;
    flex: 1 0 auto;
    height: 100%;
    justify-content: center;
    width: calc(100% - 270px);
}